/* input {
    margin: 10px 0px 20px 0px;
}

select {
    margin: 8px 0px 20px 0px;
} */

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 20px;
}

.filters > div {
    display: flex;
    gap: 1rem;
}
